<% include ../navbars/standardnavbar %>

<div class="container">
        
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>

      <div class="extract">
        
              <div class="headind_srch">
                <div class="srch_bar">
                    <div class="stylish-input-group">
                      <input type="text" id="search" class="search-bar"  placeholder="Search" >
                    </div>
                  </div>
                  
              </div>
              
              <% if (user.conversations.length > 0)  { %>
              <% user.conversations.forEach(function(convo) { %>

              <div class="chat_list active_chat">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib" onclick="loadDoc('<%=convo._id%>')">
                    <h5> <%= convo.messages[0].reciever[0].username %><span class="chat_date"> <%= convo.messages[0].time %></span></h5>
                    <p><%= convo.messages[0].body %></p>
                  </div>
                </div>
              </div>
              <% }); } else { %>
              
              <% user.contacts.forEach(function(contact) { %>
              
              <div class="chat_list active_chat">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5> <%= contact.username %></h5>
                    <button onclick="loadContact('<%=contact._id%>')">Message</button>
                  </div>
                </div>
              </div>
              <% }); } %>
              

              <div class="oldmesgs">

          <% if (conversation) { %>
            <% conversation.messages.forEach(function(message) { %>

                <% if (message.sender[0]._id == user.id) { %>

                  <div class="outgoing_msg">
                    <div class="sent_msg">
                      <p> <%= message.body %> </p>
                      <span class="time_date"> <%= message.time %> </span>
                    </div>
                  </div>

                <% } else { %>

                  <div class="incoming_msg">
                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="received_msg">
                      <div class="received_withd_msg">
                        <p> <%= message.body %> </p>
                        <span class="time_date"> <%= message.time %> </span>
                      </div>
                    </div>
                  </div>

                <% } }); %>
      
              </div>

              <div class="type_msg">
                <div class="input_msg_write">
                  
                    <input id="mssgbody" type="textarea" name="message" class="write_msg" placeholder="Type a message" />
                    <button onclick="loadConvo('<%= conversation._id %>','<%= conversation.participants[1]._id %>')" class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                  
                </div>
              </div>
          <% } else { %>
              <div class="type_msg">
                <div class="input_msg_write">
                  
                    <input id="mssgbody" type="textarea" name="message" class="write_msg" placeholder="Type a message" />
                  
                </div>
              </div>
          <% } %>
              
      </div>
      
</div>

<script>
function loadDoc(convo) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var html = $.parseHTML(this.responseText);
      var newForm  = html[13].getElementsByClassName("extract")[0].childNodes[9];
      var newConvo =  html[13].getElementsByClassName("extract")[0].childNodes[7];
      $(".oldmesgs").html(newConvo);
      $(".type_msg").html(newForm);
    }
  };
  xhttp.open("GET", "/searching?Cname="+convo, true);
  xhttp.send();
}

function loadConvo(conversationId, recieverId) {
  var body = document.querySelector("#mssgbody");
  var xhr = new XMLHttpRequest();
  xhr.open("POST", '/talk', true);
  
  //Send the proper header information along with the request
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  
  xhr.onreadystatechange = function() { // Call a function when the state changes.
      if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
          // Request finished. Do processing here.
        var html = $.parseHTML(this.responseText);
        var newConvo =  html[13].getElementsByClassName("extract")[0].childNodes[7];
        // console.log(newConvo);
        $(".oldmesgs").html(newConvo);
        body.value = "";
      }
  }
  xhr.send("convoId="+conversationId+"&recieverId="+recieverId+"&message="+body.value);
}

function loadContact(recieverId) {
  var body = document.querySelector("#mssgbody");
  var xhr = new XMLHttpRequest();
  xhr.open("POST", '/talk', true);
  
  //Send the proper header information along with the request
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  
  xhr.onreadystatechange = function() { // Call a function when the state changes.
      if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
          // Request finished. Do processing here.
        var html = $.parseHTML(this.responseText);
        var newConvo =  html[13].getElementsByClassName("extract")[0].childNodes[7];
        console.log(newConvo);
        $(".oldmesgs").html(newConvo);
        body.value = "";
      }
  }
  xhr.send("recieverId="+recieverId+"&message="+body.value);
}


</script>


<% include ../partials/footer %>
